@media only screen and (max-width: 600px) {
    body {
        text-align: center;
    }

    .navigation button {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    }

    #title {
        font-size: 25px;
    }

    .stats button {
        padding: 5px;
        margin: 5px;
        font-size: 14px;
        width: 164px;
        height: 65px;
    }

    .stats span {
        font-size: 15px;
    }

    #compareLabel {
        font-size: 15px;
    }
    
    #compareYear {
        font-size: 15px;
    }

    #infoBox {
        padding: 5px;
        font-size: 15px;
    }
    
    #dLinkE, #dLinkP {
        font-size: 15px;
        padding: 4px;
        margin: 2px;
    }
}