body {
    text-align: center;
}

.navigation button {
    background-color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: black;
}

.stats button {
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    font-family: "Playfair Display";
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: black;
    width: 200px;
    height: 72px;
    margin-left: 5px;
    margin-right: 5px;
}

#title {
    font-size: 50px;
    font-family: "Playfair Display SC";
    margin: 10px;
}

#compareLabel {
    font-size: 17px;
    font-family: "Playfair Display";
}

#compareYear {
    border-radius: 10px;
    border: none;
    background-color: #A7A4A4;
    font-size: 17px;
    font-family: "Playfair Display";
}

#totes, #inj, #regs, #reas {
    background-color: white;
    border: 3px solid;
}

#totes {border-color: #E1676C;}
#inj   {border-color: #FFE555;}
#regs  {border-color: #568F55;}
#reas  {border-color: #2B6DD1;}

#totes:hover {background-color: #E1676C;}
#inj:hover   {background-color: #FFE555;}
#regs:hover  {background-color: #568F55;}
#reas:hover  {background-color: #2B6DD1;}

#infoBox {
    padding: 10px;
    border: 2px solid #ddd;
    display: block;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Playfair Display";
    margin: 5px;
}

#downloadBtn {
    border-radius: 10px;
    border: none;
    background-color: #A7A4A4;
    font-family: "Playfair Display";
    margin: 5px;
}

#dLinkE, #dLinkP {
    background-color: #A7A4A4;
    font-size: 17px;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 4px;
    border-radius: 10px;
}
